apiVersion: batch/v1
kind: CronJob
metadata:
  name: minecraft-frontend-restart-warning
spec:
  jobTemplate:
    spec:
      backoffLimit: 1
      template:
        spec:
          restartPolicy: OnFailure
          containers:
            - name: notifier
              env:
                - name: RCON_HOST
                  value: mc-service.mc-haramis-s1.svc.cluster.local:25565
