apiVersion: apps/v1
kind: Deployment
metadata:
  name: mc-proxy
  labels:
    app: mc-proxy
  # We wish this deployment to be reloaded
  annotations:
    configmap.reloader.stakater.com/reload: "jmx-exporter-velocity-config,velocity-config,velocity-luckperms-config,velocity-banmanager-common-config,velocity-prometheusexporter-config,velocity-minimotd-config"
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: mc-proxy
  template:
    metadata:
      labels:
        app: mc-proxy
    spec:
      initContainers:
        # initcontainersでjmx-exporterをダウンロード
        - name: jmx-exporter-downloader
          image: busybox:1.37.0
          env:
            # JMX_prometeus_exporterのダウンロードURL
            - name: JMX_EXPORTER_URL
              value: "https://repo1.maven.org/maven2/io/prometheus/jmx/jmx_prometheus_javaagent/1.0.1/jmx_prometheus_javaagent-1.0.1.jar"
          volumeMounts:
            - name: jmx-exporter-download-volume
              mountPath: /root/jmx-exporter-download
          command:
            - "sh"
            - "-c"
            - 'wget -O /root/jmx-exporter-download/jmx-exporter-javaagent.jar "${JMX_EXPORTER_URL}"'
        # initcontainersでsecretとして保管しているforwarding-keyを取得
        - name: forwarding-key-writer
          image: busybox:1.37.0
          env:
            # VELOCITY_FORWARDINGの呼び出し
            - name: CFG_FORWARDING_KEY
              valueFrom:
                secretKeyRef:
                  name: secret-mc-common
                  key: CFG_FORWARDING_KEY
          volumeMounts:
            - name: ini-velocity-forwarding-download-volume
              mountPath: /root/ini-velocity-forwarding-download
          command:
            - sh
            - -c
            - 'echo "$CFG_FORWARDING_KEY" > /root/ini-velocity-forwarding-download/forwarding.secret'
      nodeSelector:
        kubernetes.io/hostname: onp-k8s-wk-3
      containers:
        - image: itzg/mc-proxy:java21
          name: mc-proxy
          resources:
            requests:
              cpu: "1"
              memory: "768Mi"
          env:
            # ---- プレフィックスの宣言 ---- 
            - name: REPLACE_ENV_VARIABLE_PREFIX 
              value: CFG_
            # ---- 基本設定 ---- 
            - name: TZ
              value: Asia/Tokyo
            - name: TYPE
              value: VELOCITY
            - name: VELOCITY_VERSION
              value: "latest"
            - name: MEMORY
              value: "768m"
            - name: ICON
              value: "" # サーバーアイコンの取得URL
            # ---- server configの変数 ---- 
            - name: NETWORKADDRESS_CACHE_TTL
              value: "60"
            - name: CFG_PROXY_ENABLE
              value: "true" # proxy protocolをフロントエンドに設置している場合trueと設定
            - name: ENABLE_RCON
              value: "true"
            - name: RCON_PORT
              value: "25575"
            - name: RCON_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: secret-mc-common
                  key: VELOCITY_RCON_PASSWORD
            - name: CFG_FORWARDING_KEY
              valueFrom:
                secretKeyRef:
                  name: secret-mc-common
                  key: CFG_FORWARDING_KEY
            # ---- SQL serverの宛先指定変数 ---- 
            - name: CFG_SQLSERVER_ADDRESS
              valueFrom:
                secretKeyRef:
                  name: secret-mc-dbaddress
                  key: CFG_SQLSERVER_ADDRESS
            - name: CFG_SQLSERVER_USERNAME
              valueFrom:
                secretKeyRef:
                  name: secret-mc-dbaddress
                  key: CFG_SQLSERVER_USERNAME
            - name: CFG_SQLSERVER_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: secret-mc-dbaddress
                  key: CFG_SQLSERVER_PASSWORD
            # ---- plugins configの変数 ---- 
            # ---- luckperms ----
            - name: CFG_SQLSERVER_LUCKPERMS_DATABASE
              valueFrom:
                secretKeyRef:
                  name: secret-mc-dbaddress
                  key: CFG_SQLSERVER_LUCKPERMS_DATABASE
            - name: CFG_LUCKPERMS_SERVER_NAME
              value: "" # LuckPermsの管理用名称
            # ---- banmanager ----
            - name: CFG_SQLSERVER_BANMANAGER_DATABASE
              valueFrom:
                secretKeyRef:
                  name: secret-mc-dbaddress
                  key: CFG_SQLSERVER_BANMANAGER_DATABASE
            # ------
            - name: PLUGINS
              # bungeecord-prometheus-exporter
              # BanManagerBungeeCord
              # LuckPerms-Velocity
              # minimotd-velocity
              # ViaVersion
              value: >-
                https://github.com/weihao/bungeecord-prometheus-exporter/releases/download/3.2.7/bungeecord-prometheus-exporter-3.2.7.jar,
                https://ci.frostcast.net/job/BanManager/lastSuccessfulBuild/artifact/velocity/build/libs/BanManagerVelocity.jar,
                https://download.luckperms.net/1610/velocity/LuckPerms-Velocity-5.5.21.jar,
                https://hangarcdn.papermc.io/plugins/jmp/MiniMOTD/versions/2.1.7/VELOCITY/minimotd-velocity-2.1.7.jar,
                https://hangarcdn.papermc.io/plugins/logo23456/UUIDRedirect/versions/1.0.1/VELOCITY/UUIDRedirect-1.0.1.jar,
                https://hangarcdn.papermc.io/plugins/ViaVersion/ViaVersion/versions/5.6.0/PAPER/ViaVersion-5.6.0.jar
            - name: SPIGET_PLUGINS
              value: 
            - name: JVM_OPTS
              value: >-
                -javaagent:/jmx-exporter/jmx-exporter-javaagent.jar=18321:/jmx-exporter/jmx-exporter-config.yaml
          ports:
            - containerPort: 25577
              name: proxy-service
              protocol: TCP
            - containerPort: 18321
              name: jmx-metrics
            - containerPort: 9225
              name: metrics
            - containerPort: 25575
              name: velocity-rcon
          startupProbe:
            tcpSocket:
              port: 25577
            # 最大300秒待つ
            failureThreshold: 15
            periodSeconds: 20
          volumeMounts:
            # init downloadファイルのマウント
            - name: jmx-exporter-download-volume
              mountPath: /jmx-exporter/jmx-exporter-javaagent.jar
              subPath: jmx-exporter-javaagent.jar
            - name: ini-velocity-forwarding-download-volume
              mountPath: /config/forwarding.secret
              subPath: forwarding.secret
            # velocityのconfigファイルが入ったボリューム達のマウント設定
            # velocity.tomlを格納
            - name: velocity-common-config
              mountPath: /config/velocity.toml
              subPath: velocity.toml
            # jmx-exporter-configを格納
            - name: jmx-exporter-config
              mountPath: /jmx-exporter/jmx-exporter-config.yaml
              subPath: jmx-exporter-config.yaml
            # LuckPerms-configを格納
            - name: velocity-plugin-luckperms-config
              mountPath: /config/plugins/luckperms/config.yml
              subPath: LuckPerms-config.yml
            # BungeeCordPrometheusExporter-configを格納
            - name: velocity-plugin-prometheusexporter-config
              mountPath: /config/plugins/velocity-prometheus-exporter/config.json
              subPath: BungeeCordPrometheusExporter-config.json
            # minimotd-main-configを格納
            - name: velocity-plugin-minimotd-config
              mountPath: /config/plugins/minimotd-velocity/main.conf
              subPath: minimotd-velocity-main.conf
            # minimotd-settings-configを格納
            - name: velocity-plugin-minimotd-config
              mountPath: /config/plugins/minimotd-velocity/plugin_settings.conf
              subPath: minimotd-velocity-plugin_settings.conf
            # banmanager-common-configを格納
            - name: velocity-plugin-banmanager-common-config
              mountPath: /config/plugins/banmanager/config.yml
              subPath: banmanager-common.yml
            # uuidredirect-configを格納
            - name: velocity-uuidredirect-config
              mountPath: /config/plugins/UUIDRedirect/config.json
              subPath: uuidredirect-config.json

      volumes:
        # config mapで指定したconfigデータを受け渡すためのvolume
        # velocity-config
        - name: velocity-common-config
          configMap:
            name: velocity-config
        # jmx-exporter
        - name: jmx-exporter-config
          configMap:
            name: jmx-exporter-velocity-config
        # LuckPerms
        - name: velocity-plugin-luckperms-config
          configMap:
            name: velocity-luckperms-config
        # prometheusexporter
        - name: velocity-plugin-prometheusexporter-config
          configMap:
            name: velocity-prometheusexporter-config
        # minimotd
        - name: velocity-plugin-minimotd-config
          configMap:
            name: velocity-minimotd-config
        # banmanager-common
        - name: velocity-plugin-banmanager-common-config
          configMap:
            name: velocity-banmanager-common-config
        # uuidredirect
        - name: velocity-uuidredirect-config
          configMap:
            name: velocity-uuidredirect-config

        # JMX exporterをinitContainerでダウンロードしてvelocityに受け渡すためのvolume
        - name: jmx-exporter-download-volume
          emptyDir: {} 
        # velocity-forwarding-KEYをinitContainerでダウンロードしてvelocityに受け渡すためのvolume
        - name: ini-velocity-forwarding-download-volume
          emptyDir: {}
