apiVersion: apps/v1
kind: Deployment
metadata:
  name: mc-proxy
  labels:
    app: mc-proxy
  # We wish this deployment to be reloaded
  annotations:
    configmap.reloader.stakater.com/reload: "jmx-exporter-velocity-config,velocity-config"
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: mc-proxy
  template:
    metadata:
      labels:
        app: mc-proxy
    spec:
      initContainers:
        # initcontainersでjmx-exporterをダウンロード
        - name: jmx-exporter-downloader
          image: busybox:1.37.0
          env:
            # JMX_prometeus_exporterのダウンロードURL
            - name: JMX_EXPORTER_URL
              value: "https://repo1.maven.org/maven2/io/prometheus/jmx/jmx_prometheus_javaagent/1.0.1/jmx_prometheus_javaagent-1.0.1.jar"
          volumeMounts:
            - name: jmx-exporter-download-volume
              mountPath: /root/jmx-exporter-download
          command:
            - "sh"
            - "-c"
            - 'wget -O /root/jmx-exporter-download/jmx-exporter-javaagent.jar "${JMX_EXPORTER_URL}"'
        # initcontainersでsecretとして保管しているforwarding-keyを取得
        #- name: forwarding-key-writer
        #  image: busybox:1.37.0
        #  env:
        #    # VELOCITY_FORWARDINGの呼び出し
        #    - name: CFG_FORWARDING_KEY
        #      valueFrom:
        #        secretKeyRef:
        #          name: secret-mc-common
        #          key: CFG_FORWARDING_KEY
        #  volumeMounts:
        #    - name: ini-velocity-forwarding-download-volume
        #      mountPath: /root/ini-velocity-forwarding-download
        #  command:
        #    - sh
        #    - -c
        #    - 'echo "$CFG_FORWARDING_KEY" > /root/ini-velocity-forwarding-download/forwarding.secret'
      nodeSelector:
        kubernetes.io/hostname: onp-k8s-wk-3
      containers:
        - image: itzg/mc-proxy:java21
          name: mc-proxy
          resources:
            requests:
              cpu: "1"
              memory: "768Mi"
          env:
            # ---- プレフィックスの宣言 ---- 
            - name: REPLACE_ENV_VARIABLE_PREFIX 
              value: CFG_
            # ---- 基本設定 ---- 
            - name: TZ
              value: Asia/Tokyo
            - name: TYPE
              value: VELOCITY
            - name: VELOCITY_VERSION
              value: "latest"
            - name: MEMORY
              value: "768m"
            - name: ICON
              value: "" # サーバーアイコンの取得URL
            # ---- server configの変数 ---- 
            - name: ENABLE_RCON
              value: "true"
            - name: RCON_PORT
              value: "25575"
            - name: PLUGINS
              # bungeecord-prometheus-exporter
              # UUIDRedirect
              # ViaVersion
              value: >-
                https://github.com/weihao/bungeecord-prometheus-exporter/releases/download/3.2.7/bungeecord-prometheus-exporter-3.2.7.jar,
                https://hangarcdn.papermc.io/plugins/logo23456/UUIDRedirect/versions/1.0.1/VELOCITY/UUIDRedirect-1.0.1.jar,
                https://hangarcdn.papermc.io/plugins/ViaVersion/ViaVersion/versions/5.6.0/PAPER/ViaVersion-5.6.0.jar
            - name: SPIGET_PLUGINS
              value: 
            - name: JVM_OPTS
              value: >-
                -javaagent:/jmx-exporter/jmx-exporter-javaagent.jar=18321:/jmx-exporter/jmx-exporter-config.yaml
          ports:
            - name: proxy-service
              containerPort: 25577
              protocol: TCP
            - name: jmx-metrics
              containerPort: 18321
            - name: metrics
              containerPort: 9225
            - name: velocity-rcon
              containerPort: 25575
          startupProbe:
            tcpSocket:
              port: 25577
            # 最大300秒待つ
            failureThreshold: 15
            periodSeconds: 20
          volumeMounts:
            # ------- init-file mount -------
            - name: jmx-exporter-download-volume
              mountPath: /jmx-exporter/jmx-exporter-javaagent.jar
              subPath: jmx-exporter-javaagent.jar
            - name: jmx-exporter-config
              mountPath: /jmx-exporter/jmx-exporter-config.yaml
              subPath: jmx-exporter-config.yaml
            # -----------------------------------
            # --------- config mount ---------
            # velocity.tomi
            - name: velocity-common-config
              mountPath: /config/velocity.toml
              subPath: velocity.toml
            # prometeus-exporter
            - name: prometheus-exporter-config
              mountPath: /config/velocity-prometheus-exporter/config.json
              subPath: prometheus-exporter-config.json
            # UUIDRedirect
            - name: uuidredirect-config
              mountPath: /config/UUIDRedirec/config.json
              subPath: uuidredirect-config.json
      volumes:
        # ------- initで格納するvolume -------
        - name: jmx-exporter-download-volume
          emptyDir: {} 
        - name: ini-velocity-forwarding-download-volume
          emptyDir: {}
        # -----------------------------------
        # --------- configmap格納 -----------
        - name: velocity-common-config
          configMap:
            name: velocity-config
        - name: jmx-exporter-config
          configMap:
            name: jmx-exporter-velocity-config
        - name: prometheus-exporter-config
          configMap:
            name: prometheus-exporter-config
        - name: uuidredirect-config
          configMap:
            name: velocity-uuidredirect-config
