apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # deployment
  - ./deployment.yaml
  # service
  - ./lb-service.yaml
  # metrics-service
  - ./metrics-patch.yaml

  # config関連
  - ./config/velocity-config.yaml
  - ./config/plugin-prometheusexporter-config.yaml
  - ./config/jmx-exporter-velocity-config.yaml
  - ./config/velocity-plugin-UUIDRedirect-config.yaml
