apiVersion: v1
kind: Service
metadata:
  name: mc-proxy-lb
  labels:
    app: mc-proxy
spec:
  type: LoadBalancer
  ports:
    - name: java-service
      port: 53616
      protocol: TCP
      targetPort: proxy-service
  selector:
    app: mc-proxy
  loadBalancerIP: 172.1.0.0
