apiVersion: v1
kind: ConfigMap
metadata:
  name: mc-configs
data:
  mc-bukkit.yml: |
    settings:
      allow-end: ${CFG_ALLOW_END}
      warn-on-overload: true
      permissions-file: permissions.yml
      update-folder: update
      plugin-profiling: false
      connection-throttle: 4000
      query-plugins: true
      deprecated-verbose: default
      shutdown-message: Server closed
      minimum-api: none
      use-map-color-cache: true
    spawn-limits:
      monsters: 70
      animals: 10
      water-animals: 5
      water-ambient: 20
      water-underground-creature: 5
      axolotls: 5
      ambient: 15
    chunk-gc:
      period-in-ticks: 600
    ticks-per:
      animal-spawns: 400
      monster-spawns: 1
      water-spawns: 1
      water-ambient-spawns: 1
      water-underground-creature-spawns: 1
      axolotl-spawns: 1
      ambient-spawns: 1
      autosave: 6000
    aliases: now-in-commands.yml
    
  mc-spigot.yml: |
    # This is the main configuration file for Spigot.
    # As you can see, there's tons to configure. Some options may impact gameplay, so use
    # with caution, and make sure you know what each option does before configuring.
    # For a reference for any variable inside this file, check out the Spigot wiki at
    # http://www.spigotmc.org/wiki/spigot-configuration/
    #
    # If you need help with the configuration or have any questions related to Spigot,
    # join us at the Discord or drop by our forums and leave a post.
    #
    # Discord: https://www.spigotmc.org/go/discord
    # Forums: http://www.spigotmc.org/
    
    settings:
      debug: false
      save-user-cache-on-stop-only: false
      sample-count: 12
      timeout-time: 60
      restart-on-crash: true
      restart-script: ./start.sh
      player-shuffle: 0
      bungeecord: false
      user-cache-size: 1000
      moved-wrongly-threshold: 0.0625
      moved-too-quickly-multiplier: 10.0
      netty-threads: 4
      attribute:
        maxHealth:
          max: 2048.0
        movementSpeed:
          max: 2048.0
        attackDamage:
          max: 2048.0
      log-villager-deaths: true
      log-named-deaths: true
    messages:
      restart: Server is restarting
      whitelist: You are not whitelisted on this server!
      unknown-command: Unknown command. Type "/help" for help.
      server-full: The server is full!
      outdated-client: Outdated client! Please use {0}
      outdated-server: Outdated server! I'm still on {0}
    advancements:
      disable-saving: false
      disabled:
      - minecraft:story/disabled
    commands:
      spam-exclusions:
      - /skill
      silent-commandblock-console: false
      replace-commands:
      - setblock
      - summon
      - testforblock
      - tellraw
      log: true
      tab-complete: 0
      send-namespaced: true
    players:
      disable-saving: false
    world-settings:
      default:
        seed-trailruins: 83469867
        below-zero-generation-in-existing-chunks: true
        merge-radius:
          item: 2.5
          exp: 3.0
        view-distance: default
        simulation-distance: default
        mob-spawn-range: 8
        item-despawn-rate: 6000
        arrow-despawn-rate: 1200
        trident-despawn-rate: 1200
        zombie-aggressive-towards-villager: true
        nerf-spawner-mobs: false
        enable-zombie-pigmen-portal-spawns: true
        wither-spawn-sound-radius: 0
        end-portal-sound-radius: 0
        hanging-tick-frequency: 100
        thunder-chance: 100000
        growth:
          torchflower-modifier: 100
          pitcherplant-modifier: 100
          cactus-modifier: 100
          cane-modifier: 100
          melon-modifier: 100
          mushroom-modifier: 100
          pumpkin-modifier: 100
          sapling-modifier: 100
          beetroot-modifier: 100
          carrot-modifier: 100
          potato-modifier: 100
          wheat-modifier: 100
          netherwart-modifier: 100
          vine-modifier: 100
          cocoa-modifier: 100
          bamboo-modifier: 100
          sweetberry-modifier: 100
          kelp-modifier: 100
          twistingvines-modifier: 100
          weepingvines-modifier: 100
          cavevines-modifier: 100
          glowberry-modifier: 100
        entity-activation-range:
          animals: 32
          monsters: 32
          raiders: 48
          misc: 16
          water: 16
          villagers: 32
          flying-monsters: 32
          wake-up-inactive:
            animals-max-per-tick: 4
            animals-every: 1200
            animals-for: 100
            monsters-max-per-tick: 8
            monsters-every: 400
            monsters-for: 100
            villagers-max-per-tick: 4
            villagers-every: 600
            villagers-for: 100
            flying-monsters-max-per-tick: 8
            flying-monsters-every: 200
            flying-monsters-for: 100
          villagers-work-immunity-after: 100
          villagers-work-immunity-for: 20
          villagers-active-for-panic: true
          tick-inactive-villagers: true
          ignore-spectators: false
        entity-tracking-range:
          display: 128
          players: 48
          animals: 48
          monsters: 48
          misc: 32
          other: 64
        ticks-per:
          hopper-transfer: 8
          hopper-check: 1
        hopper-amount: 1
        hopper-can-load-chunks: false
        dragon-death-sound-radius: 0
        seed-village: 10387312
        seed-desert: 14357617
        seed-igloo: 14357618
        seed-jungle: 14357619
        seed-swamp: 14357620
        seed-monument: 10387313
        seed-shipwreck: 165745295
        seed-ocean: 14357621
        seed-outpost: 165745296
        seed-endcity: 10387313
        seed-slime: 987234911
        seed-nether: 30084232
        seed-mansion: 10387319
        seed-fossil: 14357921
        seed-portal: 34222645
        seed-ancientcity: 20083232
        seed-buriedtreasure: 10387320
        seed-mineshaft: default
        seed-stronghold: default
        hunger:
          jump-walk-exhaustion: 0.05
          jump-sprint-exhaustion: 0.2
          combat-exhaustion: 0.1
          regen-exhaustion: 6.0
          swim-multiplier: 0.01
          sprint-multiplier: 0.1
          other-multiplier: 0.0
        max-tnt-per-tick: 100
        max-tick-time:
          tile: 50
          entity: 50
        verbose: false
    config-version: 12
    stats:
      disable-saving: false
      forced-stats: {}
  mc-paper-global.yml: |
    # This is the global configuration file for Paper.
    # As you can see, there's a lot to configure. Some options may impact gameplay, so use
    # with caution, and make sure you know what each option does before configuring.
    #
    # If you need help with the configuration or have any questions related to Paper,
    # join us in our Discord or check the docs page.
    #
    # The world configuration options have been moved inside
    # their respective world folder. The files are named paper-world.yml
    #
    # Docs: https://docs.papermc.io/
    # Discord: https://discord.gg/papermc
    # Website: https://papermc.io/
    
    _version: 28
    block-updates:
      disable-noteblock-updates: false
      disable-tripwire-updates: false
    chunk-loading-advanced:
      auto-config-send-distance: true
      player-max-concurrent-chunk-generates: 0
      player-max-concurrent-chunk-loads: 0
    chunk-loading-basic:
      player-max-chunk-generate-rate: -1.0
      player-max-chunk-load-rate: 100.0
      player-max-chunk-send-rate: 75.0
    chunk-system:
      gen-parallelism: default
      io-threads: -1
      worker-threads: -1
    collisions:
      enable-player-collisions: true
      send-full-pos-for-hard-colliding-entities: true
    commands:
      fix-target-selector-tag-completion: true
      suggest-player-names-when-null-tab-completions: true
      time-command-affects-all-worlds: false
    console:
      enable-brigadier-completions: true
      enable-brigadier-highlighting: true
      has-all-permissions: false
    item-validation:
      book:
        author: 8192
        page: 16384
        title: 8192
      book-size:
        page-max: 2560
        total-multiplier: 0.98
      display-name: 8192
      lore-line: 8192
      resolve-selectors-in-books: false
    logging:
      deobfuscate-stacktraces: true
      log-player-ip-addresses: true
    messages:
      kick:
        authentication-servers-down: <lang:multiplayer.disconnect.authservers_down>
        connection-throttle: Connection throttled! Please wait before reconnecting.
        flying-player: <lang:multiplayer.disconnect.flying>
        flying-vehicle: <lang:multiplayer.disconnect.flying>
      no-permission: <red>I'm sorry, but you do not have permission to perform this command.
        Please contact the server administrators if you believe that this is in error.
      use-display-name-in-quit-message: false
    misc:
      chat-threads:
        chat-executor-core-size: -1
        chat-executor-max-size: -1
      fix-entity-position-desync: true
      lag-compensate-block-breaking: true
      load-permissions-yml-before-plugins: true
      max-joins-per-tick: 5
      region-file-cache-size: 256
      strict-advancement-dimension-check: false
      use-alternative-luck-formula: false
      use-dimension-type-for-custom-spawners: false
    packet-limiter:
      all-packets:
        action: KICK
        interval: 7.0
        max-packet-rate: 500.0
      kick-message: <red><lang:disconnect.exceeded_packet_rate>
      overrides:
        ServerboundPlaceRecipePacket:
          action: DROP
          interval: 4.0
          max-packet-rate: 5.0
    player-auto-save:
      max-per-tick: -1
      rate: -1
    proxies:
      bungee-cord:
        online-mode: false
      proxy-protocol: false
      velocity:
        enabled: true
        online-mode: true
        secret: gytS9ZohJscB
    scoreboards:
      save-empty-scoreboard-teams: false
      track-plugin-scoreboards: false
    spam-limiter:
      incoming-packet-threshold: 300
      recipe-spam-increment: 1
      recipe-spam-limit: 20
      tab-spam-increment: 1
      tab-spam-limit: 500
    timings:
      enabled: true
      hidden-config-entries:
      - database
      - proxies.velocity.secret
      history-interval: 300
      history-length: 3600
      server-name: Unknown Server
      server-name-privacy: false
      url: https://timings.aikar.co/
      verbose: true
    unsupported-settings:
      allow-grindstone-overstacking: false
      allow-headless-pistons: false
      allow-permanent-block-break-exploits: false
      allow-piston-duplication: true
      compression-format: ZLIB
      perform-username-validation: true
    watchdog:
      early-warning-delay: 10000
      early-warning-every: 5000
  mc-whitelist.json: |
    [
      {
        "uuid": "a4ea87de-f923-4889-9bd2-7d4899803d2d",
        "name": "latch1225"
      },
      {
        "uuid": "ebd6ed5c-7a32-49fd-b287-df57f2ffb33b",
        "name": "maron_12345"
      },
      {
        "uuid": "00000000-0000-0000-0009-01f15afac14e",
        "name": "geyser.HarshPilot62425"
      },
      {
        "uuid": "00000000-0000-0000-0009-01f18712bd98",
        "name": "geyser.sasasagi"
      },
      {
        "uuid": "00000000-0000-0000-0009-01ff6a486e30",
        "name": "geyser.maron3716"
      }
    ]
