apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: mc-haramis-lobby
resources:
  # template
  - ../../templates/minecraft-server
  # service
  - lb-cron.yaml
  # pv & pvc
  - ./pv-haramis-lobby-world.yaml
  - ./pv-haramis-lobby-backup.yaml.yaml
  # secret
  - http://nas.mcnet/k8s/mc-haramis/secret-mc-common.yaml
  - http://nas.mcnet/k8s/mc-haramis/secret-mc-dbaddress.yaml
  - http://nas.mcnet/k8s/mc-haramis/secret-mc-discordsrv.yaml
  - http://nas.mcnet/k8s/mc-haramis/secret-mc-lobby.yaml
  
  # config
  - config/mc-plugin-holograms-haramis-configs.yaml
  - config/mc-plugin-serverspawn-haramis-config.yaml
  - config/mc-plugin-worldgard-regions-haramis-config.yaml
  - config/mc-plugin-welcometext-haramis-config.yaml
patches:
  - path: statefulset-haramis-lobby.yaml
  - path: config/mc-plugin-advancedportals-haramis-configs.yaml
  - path: cronjob/frontend-restart-warning-lobby.yaml
