# web
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: harami-web
spec:
  destination:
    namespace: default
    server: https://kubernetes.default.svc
  project: default
  source:
    path: k8s/manifests/apps/haramis-server/nginx
    repoURL: https://github.com/maron-gt123/k8s-setup-for-proxmox.git
    targetRevision: main
  syncPolicy:
    automated: {}
---
# rcon
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: harami-rcon
spec:
  destination:
    namespace: default
    server: https://kubernetes.default.svc
  project: default
  source:
    path: k8s/manifests/apps/haramis-server/rcon
    repoURL: https://github.com/maron-gt123/k8s-setup-for-proxmox.git
    targetRevision: main
  syncPolicy:
    automated: {}
---
# proxy
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: harami-proxy
spec:
  destination:
    namespace: default
    server: https://kubernetes.default.svc
  project: default
  source:
    path: k8s/manifests/apps/haramis-server/proxy
    repoURL: https://github.com/maron-gt123/k8s-setup-for-proxmox.git
    targetRevision: main
  syncPolicy:
    automated: {}
---
# lobby
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: harami-lobby
spec:
  destination:
    namespace: default
    server: https://kubernetes.default.svc
  project: default
  source:
    path: k8s/manifests/apps/haramis-server/lobby
    repoURL: https://github.com/maron-gt123/k8s-setup-for-proxmox.git
    targetRevision: main
  syncPolicy:
    automated: {}
---
# s1
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: harami-s1
spec:
  destination:
    namespace: default
    server: https://kubernetes.default.svc
  project: default
  source:
    path: k8s/manifests/apps/haramis-server/s1
    repoURL: https://github.com/maron-gt123/k8s-setup-for-proxmox.git
    targetRevision: main
  syncPolicy:
    automated: {}
---
# exp-disney
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: harami-exp-disney
spec:
  destination:
    namespace: default
    server: https://kubernetes.default.svc
  project: default
  source:
    path: k8s/manifests/apps/haramis-server/exp-disney
    repoURL: https://github.com/maron-gt123/k8s-setup-for-proxmox.git
    targetRevision: main
  syncPolicy:
    automated: {}
