# namespace
apiVersion: v1
kind: Namespace
metadata:
  name: monitoring
---
#kube-prometheus-stack-CRD
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus-crd
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/prometheus-community/helm-charts.git
    path: charts/kube-prometheus-stack/charts/crds/
    targetRevision: kube-prometheus-stack-68.1.0
    directory:
      recurse: true
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
      - Replace=true
---
#kube-prometheus-stack
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-prometheus-stack
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io # cascade deletion on this App deletion
spec:
  project: default
  source:
    chart: kube-prometheus-stack
    repoURL: https://prometheus-community.github.io/helm-charts
    targetRevision: 68.4.3
    helm:
      releaseName: prometheus
      skipCrds: true
      values: |
        crds:
          enabled: false
        defaultRules:
          create: true
          rules:
            kubeProxy: false
            alertmanager: false
            windows: false
        kubelet:
          serviceMonitor:
            attachMetadata:
              node: true
        loki:
          isDefault: false
        grafana:
          initChownData:
            enabled: false
          sidecar:
            dashboards:
              enabled: true
              label: grafana_dashboard
              labelValue: "1"
              searchNamespace: monitoring
            datasources:
              enabled: false
              defaultDatasourceEnabled: false
              isDefaultDatasource: false
          defaultDashboardsTimezone: Asia/Tokyo
          plugins:
            - grafana-piechart-panel
            - isovalent-hubble-datasource
            - grafana-sentry-datasource
          grafana.ini:
            date_formats:
              default_timezone: Asia/Tokyo
          deploymentStrategy:
            type: Recreate
          persistence:
            enabled: true
            size: 10Gi
          datasources:
            datasources.yaml:
              apiVersion: 1
              datasources:
                - name: Prometheus
                  type: prometheus
                  url: http://prometheus-kube-prometheus-prometheus:9090
                  isDefault: true
          dashboardProviders:
            dashboardproviders.yaml:
              apiVersion: 1
              providers:
                - name: 'default'
                  orgId: 1
                  folder: ''
                  type: file
                  allowUiUpdates: true
                  disableDeletion: true
                  editable: false
                  options:
                    path: /var/lib/grafana/dashboards/default
          dashboards:
            default:
              cilium-agent:
                gnetId: 16611
                revision: 1
                datasource: Prometheus
              cilium-hubble:
                gnetId: 16613
                revision: 1
                datasource: Prometheus
              cilium-operator:
                gnetId: 16612
                revision: 1
                datasource: Prometheus
              cilium-verdicts:
                gnetId: 18015
                revision: 3
                datasource: Prometheus
              argocd:
                gnetId: 14584
                revision: 1
                datasource: Prometheus
              node-exporter:
                gnetId: 1860
                revision: 31
                datasource: Prometheus
        prometheus:
          prometheusSpec:
            additionalScrapeConfigs: 
              - job_name: 'prometheus'
                static_configs:
                  - targets: ['localhost:9090']
              - job_name: 'minecraft'
                static_configs:
                  - targets: ['mc-paper01.mcnet:9225']
                    labels:
                      server_name: 'mc-server-S1'
                  - targets: ['mc-paper02.mcnet:9225']
                    labels:
                      server_name: 'mc-server-S2'
              - job_name: 'node exporter'
                static_configs:
                  - targets: ['ssh.maroncloud:9100']
                    labels:
                      server_name: 'ssh-server'
                  - targets: ['sql.maroncloud:9100']
                    labels:
                      server_name: 'sql-server'
                  - targets: ['dns.maroncloud:9100']
                    labels:
                      server_name: 'dns-server'
                  - targets: ['nas.maroncloud:9100']
                    labels:
                      server_name: 'nas-server'
                  - targets: ['prox01.mcnet:9100']
                    labels:
                      server_name: 'proxmox01-server'
                  - targets: ['prox02.mcnet:9100']
                    labels:
                      server_name: 'proxmox02-server'
                  - targets: ['prox03.mcnet:9100']
                    labels:
                      server_name: 'proxmox03-server'
                  - targets: ['k8s-cp01.mcnet:9100']
                    labels:
                      server_name: 'k8s-cp1-server'
                  - targets: ['k8s-cp02.mcnet:9100']
                    labels:
                      server_name: 'k8s-cp2-server'
                  - targets: ['k8s-cp03.mcnet:9100']
                    labels:
                      server_name: 'k8s-cp3-server'
                  - targets: ['k8s-wk01.mcnet:9100']
                    labels:
                      server_name: 'k8s-wk1-server'
                  - targets: ['k8s-wk02.mcnet:9100']
                    labels:
                      server_name: 'k8s-wk2-server'
                  - targets: ['k8s-wk03.mcnet:9100']
                    labels:
                      server_name: 'k8s-wk3-server'
            storageSpec:
              volumeClaimTemplate:
                spec:
                  resources:
                    requests:
                      storage: 50Gi
            resources:
              requests:
                memory: 2Gi
            retention: 60d
        alertmanager:
          enabled: false
        kubeProxy:
          enabled: false
        kubeEtcd:
          endpoints:
            - 192.168.6.81
            - 192.168.6.82
            - 192.168.6.83
          service:
           enabled: true
           port: 2381
           targetPort: 2381
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
