apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # statefulset
  - ./statefulset.yaml
  # service
  - ./clusterip-service.yaml
  # metrics-service
  - ./mc-metrics-patch.yaml

  # config
  - ./config/mc-configs.yaml
  # jmx-exporter-config
  - ./config/jmx-exporter-mc-config.yaml
  # prometheusexporter-config
  - ./config/mc-plugin-prometheusexporter-config.yaml
  # luckperms-config
  - ./config/mc-plugin-luckperms-config.yaml
  # advancedportals-common-config
  - ./config/mc-plugin-advancedportals-common-config.yaml
  # advancedportals-configs
  - ./config/mc-plugin-advancedportals-configs.yaml
  # discord-SRV-config
  - ./config/mc-plugin-discordsrv.yaml
  # serverbackup-config
  - ./config/mc-plugin-serverbackup-config.yaml
  # bluemap-config
  - ./config/mc-plugin-bluemap-common-config.yaml

  # cronjob (frontend-restart warning)
  - ./cronjob/frontend-restart-warning.yaml
