apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: minecraft
  labels:
    app: minecraft
spec:
  replicas: 1
  selector:
    matchLabels:
      app: minecraft
  template:
    metadata:
      labels:
        app: minecraft
    spec:
      initContainers:
        - name: jmx-exporter-downloader
          image: busybox:1.36.1
          env:
            - name: JMX_EXPORTER_URL
              value: "https://repo1.maven.org/maven2/io/prometheus/jmx/jmx_prometheus_javaagent/0.20.0/jmx_prometheus_javaagent-0.20.0.jar"
          volumeMounts:
            - name: init-download-volume
              mountPath: /root/initContainer-download
          command:
            - "sh"
            - "-c"
            - 'wget -O /root/initContainer-download/jmx-exporter-javaagent.jar "${JMX_EXPORTER_URL}"'
      containers:
        - image: itzg/minecraft-server:java21
          name: minecraft
          env:
            - name: EULA
              value: "TRUE"
            - name: TZ
              value: Asia/Tokyo
            - name: TYPE
              value: PAPER
            - name: VERSION
              value: "1.21.3"
            - name: INIT_MEMORY
              value: 1G
            - name: MAX_MEMORY
              value: 2G
            - name: ONLINE_MODE
              value: "false"
            - name: PLUGINS
              # フルpathのpluginが公開されているものはここで直接ダウンロードし/data/pluginsに格納
              # minecraft-prometheus-exporter3.1.0
              # LuckPerms-Bukkit5.4.137
              # Advanced-Portals-0.9.3
              # LunaChat
              # DecentHolograms
              value: >-
                https://github.com/sladkoff/minecraft-prometheus-exporter/releases/download/v3.1.0/minecraft-prometheus-exporter-3.1.0.jar,
                https://download.luckperms.net/1568/bukkit/loader/LuckPerms-Bukkit-5.4.151.jar,
                https://github.com/sekwah41/Advanced-Portals/releases/download/v1.0.0/Advanced-Portals-1.0.0.jar,
                https://github.com/ucchyocean/LunaChat/releases/download/v3.0.16/LunaChat.jar,
                https://github.com/DecentSoftware-eu/DecentHolograms/releases/download/2.8.12/DecentHolograms-2.8.12.jar
            - name: JVM_OPTS
              value: >-
                -javaagent:/jmx-exporter/jmx-exporter-javaagent.jar=18321:/jmx-exporter/jmx-exporter-config.yaml
            # config関連を/configから/dataへmcopy
            - name: COPY_CONFIG_DEST
              value: /data
            - name: REPLACE_ENV_VARIABLE_PREFIX
              value: CFG_
            - name: CFG_SQLSERVER_ADDRESS
              value: sql.mcnet
            - name: CFG_SQLSERVER_USERNAME
              value: minecraft
            - name: CFG_SQLSERVER_PASSWORD
              value: masaya0209
            - name: CFG_LUNACHAT_LANGUAGE
              value: ja
            - name: CFG_LUCKPERMS_SQLSERVER_DATABASE
              value: mc_LuckPerms
            - name: CFG_LUCKPERMS_SERVER_NAME
              value: server
            - name: CFG_MYSQLINVENTORYBRIDGE_SQLSERVER_DATABASE
              value: mc_inventory
            - name: RCON_CMDS_STARTUP
              value: |-

          ports:
            - name: mc-service
              containerPort: 25565
            - name: mc-metrics
              containerPort: 9225
            - name: mc-jmx-metrics
              containerPort: 18321
          resources:
            requests:
              memory: 2G
              cpu: "2"
          volumeMounts:
            # world関連の格納先マウント
            - name: data
              mountPath: /data

            ## JMX exporter 周りのファイルが入ったボリューム達のマウント設定
            # jmx-exporterの格納先
            - name: init-download-volume
              mountPath: /jmx-exporter/jmx-exporter-javaagent.jar
              subPath: jmx-exporter-javaagent.jar
            # jmx-exporter-configの格納先
            - name: jmx-exporter-config
              mountPath: /jmx-exporter/jmx-exporter-config.yaml
              subPath: jmx-exporter-config.yaml
 
            # server.properties/bukkit/spigot/paper-global/whitelist configのマウント
            # server.propertiesの格納先
            - name: mc-config
              mountPath: /config/server.properties
              subPath: mc-server.properties
            # bukkitの格納先
            - name: mc-config
              mountPath: /config/bukkit.yml
              subPath: mc-bukkit.yml
            # spigotの格納先
            - name: mc-config
              mountPath: /config/spigot.yml
              subPath: mc-spigot.yml
             # paper-globalの格納先
            - name: mc-config
              mountPath: /config/config/paper-global.yml
              subPath: mc-paper-global.yml
             # whitelistの格納先
            - name: mc-config
              mountPath: /config/whitelist.json
              subPath: mc-whitelist.json

            ## plugins関連のマウント
            # prometeusのマウント
            - name: mc-plugin-prometheusexporter-config
              mountPath: /config/plugins/PrometheusExporter/config.yml
              subPath: prometheusexporter.yml
            # LuckPermsのマウント
            - name: mc-plugin-luckperms-config
              mountPath: /config/plugins/LuckPerms/config.yml
              subPath: luckperms.yml
            # advancedportalsのマウント
            - name: mc-plugin-advancedportals-common-config
              mountPath: /config/plugins/AdvancedPortals/config.yml
              subPath: advancedportals-common-config.yml
            # LunaChatのマウント
            - name: mc-plugin-lunachat-config
              mountPath: /config/plugins/LunaChat/config.yml
              subPath: lunachat.yml
            # MysqlInventoryBridgeのマウント
            - name: mc-plugin-inventory-config
              mountPath: /config/plugins/MysqlInventoryBridge/config.yml
              subPath: inventory-config.yml
            # advancedportals-destinationsのマウント
            - name: mc-lobby-plugin-advancedportals-configs
              mountPath: /config/plugins/AdvancedPortals/destinations.yml
              subPath: destinations.yml
            # advancedportals-portalsのマウント
            - name: mc-lobby-plugin-advancedportals-configs
              mountPath: /config/plugins/AdvancedPortals/portals.yml
              subPath: portals.yml

      volumes:
        # paperのボリューム
        - name: data
          emptyDir: {}
        # initContainerでダウンロードしてpaperに受け渡すためのvolume
        - name: init-download-volume
          emptyDir: {}
        # jmx-exporter-config格納先
        - name: jmx-exporter-config
          configMap:
            name: jmx-exporter-config
        # configmap格納先 
        - name: mc-config
          configMap:
            name: mc-configs
        # prometheusexporter-configmap格納先
        - name: mc-plugin-prometheusexporter-config
          configMap:
            name: mc-plugin-prometheusexporter-config
        # luckperms-configmap格納先
        - name: mc-plugin-luckperms-config
          configMap:
            name: mc-plugin-luckperms-config
        # advancedportals-configmap格納先
        - name: mc-plugin-advancedportals-common-config
          configMap:
            name: mc-plugin-advancedportals-common-config
        # lunachat-configmap格納先
        - name: mc-plugin-lunachat-config
          configMap:
            name: mc-plugin-lunachat-config
        # MysqlInventoryBridge-configmap格納先
        - name: mc-plugin-inventory-config
          configMap:
            name: mc-plugin-inventory-config
        # holograms-configmap格納先
        - name: mc-plugin-holograms-config
          configMap:
            name: mc-plugin-holograms-configs
        # advancedportals周辺-configmap格納先
        - name: mc-lobby-plugin-advancedportals-configs
          configMap:
            name: mc-plugin-advancedportals-configs
