apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cilium
  namespace: argocd
spec:
  project: default
  source:
    chart: cilium
    repoURL: https://helm.cilium.io/
    targetRevision: 1.15.2
    helm:
      releaseName: cilium
      values: |
        kubeProxyReplacement: strict
        k8sServiceHost: 192.168.6.100 # modify it if necessary
        k8sServicePort: 8443
        pprof:
          enabled: true
        loadBalancer:
          algorithm: maglev
        hubble:
          enabled: true
          relay:
            enabled: true
            podDisruptionBudget:
              enabled: true
            pprof:
              enabled: true
            prometheus:
              serviceMonitor:
                enabled: true
                labels:
                  release: prometheus
          ui:
            enabled: true
          metrics:
            enabled:
              - dns:query;ignoreAAAA
              - drop
              - tcp
              - flow
              - icmp
              - http
              - port-distribution
            enableOpenMetrics: true
            serviceMonitor:
              enabled: true
              labels:
                release: prometheus
            dashboards:
              enabled: true
              namespace: monitoring
        operator:
          prometheus:
            enabled: true
            serviceMonitor:
              enabled: true
              labels:
                release: prometheus
          pprof:
            enabled: true
        prometheus:
          enabled: true
          serviceMonitor:
            enabled: true
            labels:
              release: prometheus
  destination:
    server: https://kubernetes.default.svc
    namespace: kube-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
