apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: tiktok-mc-event
resources:
  # template
  - ../templates/minecraft-server
  # secret
  - http://nas.mcnet/k8s/mc-nosukero/secret-mc-common.yaml

patches:
  - target:
      group: apps
      version: v1
      kind: StatefulSet
      name: minecraft
    patch: |-
      - op: remove
        path: /spec/template/spec/containers/0/env/32
      - op: remove
        path: /spec/template/spec/containers/0/env/31
      - op: remove
        path: /spec/template/spec/containers/0/env/30
      - op: remove
        path: /spec/template/spec/containers/0/env/29
      - op: remove
        path: /spec/template/spec/containers/0/env/28
      - op: remove
        path: /spec/template/spec/containers/0/env/27
      - op: remove
        path: /spec/template/spec/containers/0/env/26
      - op: remove
        path: /spec/template/spec/containers/0/env/25
      - op: remove
        path: /spec/template/spec/containers/0/env/24
      - op: remove
        path: /spec/template/spec/containers/0/env/23
      - op: remove
        path: /spec/template/spec/containers/0/env/22
      - op: remove
        path: /spec/template/spec/containers/0/env/21
      - op: remove
        path: /spec/template/spec/containers/0/env/20
      - op: remove
        path: /spec/template/spec/containers/0/env/19
      - op: remove
        path: /spec/template/spec/containers/0/env/18
      - op: remove
        path: /spec/template/spec/containers/0/env/17
