apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: minecraft
  labels:
    app: minecraft
spec:
  replicas: 1
  selector:
    matchLabels:
      app: minecraft
  template:
    metadata:
      labels:
        app: minecraft
    spec:
      containers:
        - name: minecraft
          resources:
            requests:
              # pod リソース設定
              cpu: "2"
              memory: 2G
          env:
            - name: INIT_MEMORY
              value: 1G
            - name: MAX_MEMORY
              value: 2G
            - name: PLUGINS
              # フルpathのpluginが公開されているものはここで直接ダウンロードし/data/pluginsに格納
              # minecraft-prometheus-exporter3.1.0
              # DiscordSRV
              value: >-
                https://github.com/sladkoff/minecraft-prometheus-exporter/releases/download/v3.1.2/minecraft-prometheus-exporter-3.1.2.jar,
                http://nas.mcnet/k8s/tiktok-live-mc-event-runner/TikTokEventBridge-1.0.0.jar,
                https://github.com/DiscordSRV/DiscordSRV/releases/download/v1.30.3/DiscordSRV-Build-1.30.3.jar
