apiVersion: apps/v1
kind: Deployment
metadata:
  name: mc-proxy
  labels:
    app: mc-proxy
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: mc-proxy
          resources:
            requests:
              cpu: "2"
              memory: "1024Mi"
          env:
            - name: MEMORY
              value: 1024m
            - name: ICON
              value: "https://raw.githubusercontent.com/maron-gt123/k8s-setup-for-proxmox/main/minecraft/branding/maroncloud-server-icon.png"
