apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: minecraft
  labels:
    app: minecraft
spec:
  template:
    spec:
      containers:
        - name: minecraft
          env:
            - name: RCON_PASSWORD
              $patch: delete
            - name: MODE
              value: "creative"
            - name: PLUGINS
              value: >-
                https://github.com/maron-gt123/jamming-minecraft-stream/releases/download/0.2/jamming-minecraft-stream-0.2-SNAPSHOT.jar
            - name: RCON_CMDS_STARTUP
              value: |-
                time set day
                weather clear
                gamerule doDaylightCycle false
                gamerule doWeatherCycle false
          ports:
            - name: mc-jamming
              containerPort: 8080
          volumeMounts:
            - name: jamming-mc-stream-config
              mountPath: /config/plugins/JammingStream/
      volumes:
        - name: jamming-mc-stream-config
          configMap:
            name: jamming-mc-stream-config
