apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: minecraft
  labels:
    app: minecraft
spec:
  template:
    spec:
      containers:
        - name: minecraft
          env:
            - name: ENABLE_RCON
              value: "false"
            - name: MAX_TICK_TIME
              value: "-1"
            - name: ONLINE_MODE
              value: "false"
            - name: DIFFICULTY
              value: easy
            - name: LEVEL_TYPE
              value: normal
            - name: RCON_PASSWORD
              $patch: delete
          volumeMounts:
            - name: jamming-mc-stream-config
              mountPath: /config/plugins/JammingStream/
      volumes:
        - name: jamming-mc-stream-config
          configMap:
            name: jamming-mc-stream-config
